*{
    font-family: Georgia, serif;
}

.button{
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #eff7ff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #13315C;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button:hover {
    -fx-background-color: white;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

#title {
    -fx-font-size: 27px;
    -fx-text-fill: #000000;
    -fx-font-weight: 700;
}

#login{
    -fx-background-color:  #134074;
    -fx-text-fill: white;
}
